/* GAMES */
*{
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: auto;
}


body {
  width: 100%;
  margin: 0;
  font: 1em/1.3 Arial, Helvetica, sans-serif;	
}

.gtable {
  width: 70%;
  margin:5px auto;
  border: 1px solid blue;
  border-collapse: collapse;
}

.gtable td {
  text-align: center;
}

h1 {
  text-align: center;
}

/* STANDINGS */
.standingsHeader {
  text-align: center;
}
.standingsTable {
  border: 1px solid pink;
  border-collapse: collapse;
  width: 30%;
  margin: 0 auto;
}

.standingsTable tr, .standingsTable td {
  text-align: center;
  width: auto;
  padding: 2px 5px;
}

.logo {
  width: 25px;
  height: 25px;
}

